footer{
   background-color: #0F0D32;
   padding: 2rem 3.5rem;
 
}

.logos{
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logos .logo{
    text-decoration: none;
    color: #d5d5d5;
    font-size: 1.2rem;
    padding: 0px 6px;
    border: 1px solid #8c94b8;
    border-radius: 5px;
    margin: 0px 2px;
}
.career p{
    color: #8c94b8;
    margin-bottom: 20px;
}

.career,.privacy-policy ,.support{
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    padding: 0.8rem;
    justify-content: flex-start;
    text-align: center;
}

.support  > h4 {
    color: #d5d5d5;
    line-height: 4;
    
    
}
.privacy-policy >h4{
    text-align: center;
    color: #d5d5d5;
    line-height: 4;

}
.support > a {
    text-decoration: none;
    color: #8c94b8;
    line-height: 2;
}
.privacy-policy > a {
    text-decoration: none;
    color: #8c94b8;
    line-height: 2;
}
.copy{
    color: #d5d5d5;
    font-size: 0.8rem;
}


.footer-right >a{
    text-decoration: none;
    color: #d5d5d5;
    font-size: 0.8rem;
    padding-right: 10px;

}

@media screen and (max-width:1076px) {
  
    .footer-wraper{
        width: 100% !important;
    }
}


@media screen and (max-width:776px) {
    .privacy-policy >h4{
        line-height: 2 !important;
    }
  
    footer{
        padding: 2rem .5rem;
    }
    .career,.privacy-policy ,.support{
        flex: none;

        }
}
